/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #0F103F;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 50px 0 70px 90px;
}

.slider-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 200%;
}

.card {
  min-width: 50%;
  box-sizing: border-box;
  padding: 20px;
  background-color: /*#2F328A */ transparent;
  border: 1px solid #ddd;
  border-radius: 30px;
  text-align: center;
  margin: 10px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #fff;
}

.card p {
  font-size: 0.9em;
  color: #fff;
}

.card .technologies {
  margin: 10px 0;
}

.card .technologies span {
  background-color: #eee;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  margin: 2px;
}

.card button {
  background: linear-gradient(45deg, #2957A3, #C961DE);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #0056b3;
}

.slider-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.prev-btn {
  left: 100px;
}

.next-btn {
  right: 5px;
}

/* Popup styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.popup-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.popup-content a {
  display: block;
  margin: 10px 0;
  color: #007bff;
  text-decoration: none;
}

.popup-content a:hover {
  text-decoration: underline;
}

.contact {
  position: relative; /* Make the contact div the reference point for the absolutely positioned image */
  border: 1px transparent;
  margin-top: 300px;
  background-color: #0F103F;
}

.top-left-image {
  position: absolute; /* Position the image absolutely within the contact div */
  top: -530.63px; /* Adjust this value to position the image outside the div */
  left: -70px; /* Align the image to the left of the contact div */
  width: 379px; /* Maintain the specified width */
  height: 835.63px; /* Maintain the specified height */
  margin-bottom: 500px;
}

.container {
  width: 90%;
  max-width: 1200px;
  border-radius: 10px;
  background-color: #2F328A;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 40px;
  margin: 60px;
  color: #fff;
  border-top-left-radius: 100px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info, .contact-form {
  width: 100%;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.info-content {
  width: 100%;
}

.contact-details {
  margin-top: 20px;
}

.contact-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.contact-item i {
  background-color: #3c3c6c;
  padding: 10px;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 20px;
}

.contact-item a {
  color: #ffffff; /* or any color that fits your design */
  text-decoration: none;
  font-size: 18px;
}

.contact-item a:hover {
  text-decoration: underline;
}

.contact-form {
  padding: 20px;
  width: 100%;
}

.contact-form h2 {
  margin-top: 0;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #EBFAFF;
  opacity: 30%;
  color: #000;
}

.contact-form button {
  background: linear-gradient(45deg, #2957A3, #C961DE);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #484891;
}

.error-message {
  color: red;
  margin-top: 10px;
}


footer {
  background-color: transparent;
}
  
h3,
h2 {
  font-size: 20px;
  display: flex;
  margin-left: 100px;
  align-items: center;
  justify-content: center;
  color: white;
}
  
#me {
  border: 1px solid transparent;
  margin-right: 100px;
  margin-left: 70px;
  width: 400.72px;
  background: linear-gradient(45deg, #2957A3, #C961DE);
  display: flex;
  justify-content: center;
}
  
#me a {
  margin: 10px;
  padding: 10px;
  color: white;
}

#me a i {
  display: none;
}
  
#connect {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 100px;
}
  
#connect a {
  margin: 10px;
  padding: 10px;
  color: white;
  height: 50px;
}

/* Desktop styles */
@media (min-width: 768px) {
  body {
    margin-bottom: 100px;
  }

  .card {
    min-width: 45%;
    max-width: 45%;
  }
  .popup-content {
    max-width: 700px;
  }

  .contact-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-info, .contact-form {
    width: 48%;
    margin-bottom: 0;
  }

  .contact {
    position: relative; /* Make the contact div the reference point for the absolutely positioned image */
    border: 1px transparent;
    margin-top: 100px;
    padding: 100px;
  }

  .top-left-image {
    position: absolute; /* Position the image absolutely within the contact div */
    top: -350.63px; /* Adjust this value to position the image outside the div */
    left: 50px; /* Align the image to the left of the contact div */
    width: 379px; /* Maintain the specified width */
    height: 835.63px; /* Maintain the specified height */
    margin-bottom: 500px;
  }

  footer {
    margin-bottom: 50px;
    margin-left: 50px;
  }
    
  #me {
    width: 400.72px;
    margin-right: 500px;
    margin-left: 250px;
  }
}

@media (min-width: 1024px) {
  .card {
    min-width: 30%;
    max-width: 30%;
  }

  .popup-content {
    max-width: 900px;
  }

  .Projects {
    background: url(./assects/Background.png);
    background-position: center;
    background-size: cover;
    padding-top: 80px;
  }
 
  .background-image {
    position: absolute;
    top: 40px;
    left: 150px;
    width: 80%;
    height: 100%;
    background-size: 90%; /* Cover the whole div */
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.54; /* Adjust opacity as needed */
  }
     
  .image1 {
    background-image: url('assects/Ellipse 1423.png');
  }
     
  .image2 {
    background-image: url('assects/Ellipse 1425.png');
  }
     
  .image3 {
    background-image: url('assects/Ellipse 1427.png');
  }
     
  .image4 {
    background-image: url('assects/Small Circle.png');
  }
 
  .slider-container {
    width: 300%; /* Adjust for desktop view */
  }
 
  .card {
    min-width: 33.33%; /* Show 3 cards at a time */
  }
 
  .popup-content {
    width: 60%;
  }
 
  .prev-btn {
    left: 10px;
  }
     
  .next-btn {
    right: 10px;
  }

  .contact {
    margin-top: 300px;
  }

  #me {
    border-radius: 10px;
    width: 700.72px;
    margin-left: 250px;
  }
}
